body{
    margin:0%;
    height: 100%
}
.container{
    margin:0%;
    height: 100vh;
    background: linear-gradient(45deg,black,rgb(16, 0, 25),rgb(40, 1, 52),rgb(16,0,25),black);
    animation: color 30s ease-in-out infinite;
    background-size: 200% 200%;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.about{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 40px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.about:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
.events{
    margin-top: 20px;
    border-radius: 40px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.events:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
.hackathons{
    margin-top: 20px;
    border-radius: 40px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.hackathons:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
.announcements{
    margin-top: 20px;
    border-radius: 40px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.announcements:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
.student-signup{
    margin-top: 20px;
    float:right;
    border-radius: 40px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.student-signup:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
.coordinator-signup{
    margin-top: 20px;
    float:right;
    border-radius: 40px;
    padding: 15px;
    border-color: rgb(52, 2, 99);
    color: rgb(178, 103, 249);
    background-color: black;
    border-style:solid;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: Arial, Helvetica, sans-serif
}
.coordinator-signup:hover{
    background-color:rgb(145, 46, 237);
    color: black;
}
